<h5>Identities</h5>
<!-- <pre><%#= RackWarden::Identity.identities.limit(100).to_a.to_yaml %></pre> -->

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>UserID</th>
      <th>Email</th>
      <th>Provider</th>
      <th>UID</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% RackWarden::Identity.query.limit(100).each do |i| %>
    <tr>
      <td><%= i.id %></td>
      <td><%= i.user_id %></td>
      <td><%= i.email %></td>
      <td><%= i.provider %></td>
      <td><%= i.uid %></td>
      <td><%= i.created_at %></td>
      <td><%= i.updated_at %></td>
      <td style="color:red">
        <form action="<%= url_for("/admin/identities/#{i.id}") %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete">
        </form>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
