<!DOCTYPE html>
<html>
  <head>
    <title>Rack Warden</title>

    <style>
    body {
      margin: 10px auto;
      width: 800px;
    }
    </style>
    
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <h1>Rack Warden</h1>

    <p>
			<a href="<%=url('/', false)%>">Home</a> |
			<a href="<%=url('/auth/protected', false)%>">Test Protected Page</a> |
			<%= erb :'rw_account_widget.html' %>
		</p>

		<%= erb :'rw_flash_widget.html' %>

		<div id="content">
	    <%= yield if block_given? %>
		</div>
  </body>
</html>