<!DOCTYPE html>
<html>
  <head>
    <title>Rack Warden</title>

    <style>
    body {
      margin: 10px auto;
      width: 800px;
    }
    </style>
    
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <h1>Rack Warden</h1>

    <p>
			<a href="<%=url('/auth/login', false)%>">Log In</a> |
			<a href="<%=url('/', false)%>">Home</a> |
			<a href="<%=url('/auth/protected', false)%>">Test Protected Page</a> |
			<% if authorized? %>
				<a href="<%=url('/auth/', false)%>">Admin</a> |
			<% end %>
			<a href="<%=url('/auth/logout', false)%>">Log Out</a>
		</p>

		<% if defined? :flash %>
	    <% if flash.rw_success %>
		    <div style="color:green;">
		      <%= flash.rw_success %>
		    </div>
	    <% end %>
	    <% if flash.rw_error %>
		    <div style="color:red;">
		      <%= flash.rw_error %>
		    </div>
	    <% end %>
	   <% end %>

		<div id="content">
	    <%= yield if block_given? %>
		</div>
  </body>
</html>